button {
  border: 0;
  color: var(--white-color);
  text-transform: capitalize;
  cursor: pointer;
}
.new-user {
  background-color: var(--primary-color);
  gap: 4px;
}
.export {
  background-color: transparent;
  border: 2px solid #70707087;
}
.new-user,.export{
    height: 100%;
}
@media screen and (max-width:1200px){
    .upper-header{
        flex-direction: column;
        margin-bottom: 10px;
    }
}
