form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  mat-form-field,
  button {
    width: 50%;
  }
  button {
    background-color: var(--white-color);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    color: rgb(80, 80, 80);
  }
}
.erorr-msg{
    margin-bottom: 10px;
}
