  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" >
      <!-- ---------------------- user name ----------------------- -->


      <mat-form-field class="width">
        <mat-label>full name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-error
      class="erorr-msg"

        *ngIf="
          formControls['name'].errors &&
          formControls['name'].touched &&
          formControls['name'].errors['required']
        "
        >Name is <strong>required</strong></mat-error
      >
      <!-- ---------------------- password ----------------------- -->
      <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput formControlName="password" type="password"/>
      </mat-form-field>
      <mat-error
      class="erorr-msg"
        *ngIf="
          formControls['password'].errors &&
          formControls['password'].touched &&
          formControls['password'].errors['required']
        "
        >Password is <strong>required</strong></mat-error
      >
      <button mat-button cdkFocusInitial type="submit" >log in</button>
     
   
  </form>
