 
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import  "./scss/base/_var";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$user-management-primary: mat.define-palette(mat.$indigo-palette);
$user-management-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$user-management-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$user-management-theme: mat.define-light-theme(
  (
    color: (
      primary: $user-management-primary,
      accent: $user-management-accent,
      warn: $user-management-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($user-management-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica Neue W01 66 Medium It.otf') format('woff2'),
       url('./assets/fonts/Helvetica Neue W01 66 Medium It.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  height: 100%;
  background-color: rgb(80, 80, 80);

  box-sizing: border-box;
  margin: 0;
  font-family: 'Helvetica';
  color: var(--white-color);
}
h1,h2 {
  text-transform: capitalize;
}
// *********************************** global classes ******************************************
.container {
  padding: 72px;
}
.flex {
  display: flex;
}
.gap {
  gap: 19px;
}
.justify-content-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.main-margin {
  margin-bottom: 2.5rem;
}
.erorr-msg {
  margin-bottom: 0.625rem;
}
// scrollbar
/* Track */
::-webkit-scrollbar {
  width: 6px; /* You can adjust the width */
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color:  var(--primary-color); /* Change the color as per your design */
}



@media screen and (max-width:768px){
 h1{
  font-size: 1.25rem;
 }
}
@media screen and (max-width:1200px){
  h1{
    font-size: 1.563rem;
   }
}
